body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1rem
  }
